<footer class="footer sticky-bottom bg-primary py-2 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <span class="text-muted">Groceries App 2022 &copy; <img src="media/logo.png" height="20" width="20" alt="" /> Shaya Ginzburg</span>
    </div>
</footer>
