<% layout("layouts/boilerplate") %>
<h1 class="text-primary text-center">Shaya's Groceries App</h1>
<div class="container-3 d-flex justify-content-center">
    <pre class="bg-secondary text-primary"></pre>
</div>
