.bg-primary{
    background-color: rgba(13,31,45,255)!important;
}

.text-primary {
    color: rgba(13,31,45,255)!important;
}

.bg-secondary{
    background-color: rgba(209,150,59,255)!important;
}

.text-secondary{
    color: rgba(209,150,59,255)!important;
}
.bg-light{
    background-color: rgba(231,201,132,255)!important;
}

.text-light{
    color: rgba(231,201,132,255)!important;
}
.bg-info{
    background-color: rgba(48,88,110,255)!important;
}

.text-info{
    color: rgba(48,88,110,255)!important;
}

img.navbar-brand {
    max-height: 100%;
    
}
