<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-wrap align-items-center justify-content-center row g-3 col-lg-8">
        <% for (const data in product.stats) {%>
        <div class="col-11 col-md-6 col-lg-5">
            <div class="d-flex flex-row p-3 rounded bg-secondary text-primary">
                <div class="fw-bold me-auto"><%= titlizeString(data) %></div>
                <div><%= product.stats[data] %></div>
            </div>
        </div>
        <% } %>
    </div>
</div>
